.section-1 { background: url(../../resources/images/main/main_bg.png) no-repeat left top/cover; }

.tab-wrap { position: relative; border-radius: 44px; width: 464px; box-shadow: 0 0 40px rgba(0, 0, 0, 0.08); border: 1px solid #eee; }

.tab-wrap nav { width: 100%; }

.tab-wrap nav .nav-tabs { border-bottom: 1px solid #eee; background: #f6f6f6; border-radius: 44px 44px 0 0; }

.tab-wrap nav .nav-tabTitle button { width: 50%; font-size: 18px; color: #666; border-radius: 44px 44px 0 0; }

.tab-wrap nav .nav-link { position: relative; border: none; }

.tab-wrap nav .nav-link.active { height: 56px; font-weight: bold; color: #000; border-radius: 44px 44px 0 0; border-bottom: none; }

.tab-wrap .tab-content { padding: 30px 40px 49px; background: #fff; border-radius: 0 0 44px 44px; border-top: none; }

.tab-wrap .tab-content > .active { display: flex; width: 100%; height: 100%; }

.tab-wrap .tab-content > .active .search-btn button { position: relative; display: inline-block; margin-left: 20px; width: 120px; height: 230px; background: url(../../resources/images/main/search_bg.png) no-repeat center; color: #fff; text-align: center; }

.tab-wrap .tab-content > .active .search-btn button img { margin-right: 5px; }

.tab-wrap .tab-content .type { width: 244px; }

.tab-wrap .tab-content .type-wrap { position: relative; margin-bottom: 10px; }

.tab-wrap .tab-content .type-wrap > button { position: relative; padding: 0 20px; width: 100%; height: 50px; line-height: 50px; background: #f6f6f6; font-size: 18px; color: #000; border-radius: 15px; text-align: left; font-weight: 500; }

.tab-wrap .tab-content .type-wrap > button:after { content: ""; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 11px; height: 8px; background: url(../../resources/images/layout/ico-chevron-down-black.png); }

.tab-wrap .tab-content .type-wrap:last-child { margin-bottom: 0; }

.tab-wrap .tab-content .type-wrap .input-wrap input { width: 100%; height: 50px; background: #f6f6f6; line-height: 50px; border-radius: 10px; border: none; font-size: 18px; }

.tab-wrap .tab-content .type-wrap .input-wrap input::placeholder { color: #666; }

.tab-wrap .tab-content .type-wrap.on > button { border-bottom: none; border-radius: 10px 10px 0 0; }

.tab-wrap .tab-content .type-wrap.on .type-list { display: block; }

.tab-wrap .tab-content .type-list { display: none; position: absolute; left: 0; top: 100%; width: 100%; height: 200px; background: #f6f6f6; border-radius: 0 0 10px 10px; z-index: 2; border: 1px solid #eee; border-top: none; overflow-y: auto; }

.tab-wrap .tab-content .type-list::-webkit-scrollbar { width: 5px; border-radius: 10px; }

.tab-wrap .tab-content .type-list::-webkit-scrollbar-thumb { width: 5px; background: #333; border-radius: 5px; }

.tab-wrap .tab-content .type-list::-webkit-scrollbar-track { height: 80%; background: transparent; }

.tab-wrap .tab-content .type-list li { line-height: 40px; padding: 0 15px; font-size: 18px; width: 100%; color: #000; text-align: left; letter-spacing: -0.3px; }

.tab-wrap .tab-content .type-list li button { width: 100%; text-align: left; }

.tab-wrap .tab-content .type-list li:hover { background: #f2f5e5; }

.tab-wrap .tab-content .type-list li:hover button { font-weight: bold; color: #839e00; }

.tab-wrap .tab-content .type-list.on { display: block; }

.tab-wrap.right { position: relative; margin-left: 24px; width: 952px; border-radius: 44px; }

.tab-wrap.right > nav .nav-tabTitle { color: #000; }

.tab-wrap.right > nav .nav-tabTitle button { width: 20%; }

.tab-wrap.right .tab-content { padding: 25px 40px 35px; height: 309px; background: #fff; }

.tab-wrap.right .tab-content .w1440 { display: none; }

.tab-wrap.right .tab-content .field-list { position: relative; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 100%; overflow: auto; }

.tab-wrap.right .tab-content .field-list::-webkit-scrollbar { width: 5px; border-radius: 10px; }

.tab-wrap.right .tab-content .field-list::-webkit-scrollbar-thumb { width: 5px; background: #333; border-radius: 5px; }

.tab-wrap.right .tab-content .field-list::-webkit-scrollbar-track { height: 80%; background: transparent; }

.tab-wrap.right .tab-content .field-list.field-tile { justify-content: flex-start; flex-wrap: wrap; }

.tab-wrap.right .tab-content .field-list.field-tile .field-item { display: flex; align-items: center; justify-content: center; margin: 0; margin-top: 10px; margin-left: 10px; width: calc(25% - 11px); height: 50px; background: #fff8ea; line-height: 50px; border-radius: 25px; overflow: hidden; }

.tab-wrap.right .tab-content .field-list.field-tile .field-item a { position: relative; align-items: flex-start; justify-content: center; padding: 0 38px 0 20px; width: 100%; max-width: 100%; height: 50px; color: #000; transition: all 0.3s; }

.tab-wrap.right .tab-content .field-list.field-tile .field-item a:hover { background: #f68b1e; color: #fff; font-weight: 600; }

.tab-wrap.right .tab-content .field-list.field-tile .field-item a:hover::after { content: ""; position: absolute; right: 12px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; background: url(../images/sub/ico_arr_hover.png) no-repeat; transition: all 0.3s; }

.tab-wrap.right .tab-content .field-list.field-tile .field-item a span { display: block; width: 100%; }

.tab-wrap.right .tab-content .field-list .field-item { display: flex; justify-content: center; margin: 15px 22px; }

.tab-wrap.right .tab-content .field-list .field-item a { display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 98px; height: 100%; color: #000; font-weight: 500; }

.tab-wrap.right .tab-content .field-list .field-item a img { margin-bottom: 14px; width: 100%; height: 100%; object-fit: cover; }

#visual { position: relative; }

#visual .main_visual .inner { overflow: hidden; flex-direction: column; }

#visual .main_visual .inner .vis-top { display: flex; justify-content: space-between; align-items: center; margin-top: 40px; margin-bottom: 30px; }

#visual .main_visual .inner .vis-top h3 { font-size: 22px; font-weight: bold; color: #000; }

#visual .main_visual .inner .vis-top .vis-notice { display: flex; font-size: 18px; color: #000; }

#visual .main_visual .inner .vis-top .vis-notice .notice-before { margin-right: 20px; }

#visual .main_visual .inner .vis-top .vis-notice .notice-before span { background: #058dd4; }

#visual .main_visual .inner .vis-top .vis-notice .notice-ing span { background: #e33310; }

#visual .main_visual .inner .vis-top .vis-notice span { margin-left: 7px; padding: 0 13px; line-height: 28px; font-size: 16px; color: #fff; border-radius: 15px; font-weight: bold; }

#visual .main_visual .inner .vis_slider .swiper-container { overflow: hidden; padding-bottom: 100px; }

#visual .main_visual .inner .vis_slider .swiper-progress { position: absolute; width: 300px; height: 3px; background: #f2f2f2; bottom: 18px; z-index: 5; }

#visual .main_visual .inner .vis_slider .swiper-progress::before { display: block; content: ""; height: 3px; width: 0; }

#visual .main_visual .inner .vis_slider .swiper-progress.full::before { width: 100%; height: 2px; transition: width 5s linear; opacity: 1; background: #000; }

#visual .main_visual .inner .vis_slider .swiper-controls { position: absolute; bottom: 0; display: flex; margin-left: 333px; z-index: 5; }

#visual .main_visual .inner .vis_slider .swiper-controls button { display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; z-index: 9; cursor: pointer; border: none; overflow: hidden; text-indent: -9999px; }

#visual .main_visual .inner .vis_slider .swiper-controls .prev { background: url(../../resources/images/main/slide_prev.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .swiper-controls .prev:hover { background: url(../../resources/images/main/slide_prev_on.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .swiper-controls .next { background: url(../../resources/images/main/slide_next.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .swiper-controls .next:hover { background: url(../../resources/images/main/slide_next_on.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .swiper-controls .play-stop { background: url(../../resources/images/main/stop.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .swiper-controls .play-stop.play { background: url(../../resources/images/main/play.png) no-repeat center/100%; }

#visual .main_visual .inner .vis_slider .play-stop { z-index: 9; width: 24px; height: 24px; text-indent: -9999px; display: inline-block; vertical-align: top; margin-left: 10px; }

#visual .main_visual .inner .vis_slider .swiper-pagination { color: #000; position: unset; align-items: center; justify-content: center; display: flex; width: 64px; font-size: 16px; line-height: 40px; font-weight: bold; }

#visual .main_visual .inner .vis_slider .swiper-slide { width: 100%; max-width: 269px; }

#visual .main_visual .inner .vis_slider .slide .img { border-radius: 30px; overflow: hidden; width: 100%; margin: auto; }

#visual .main_visual .inner .vis_slider .slide .img img { width: 100%; height: 100%; object-fit: cover; }

#visual .main_visual .inner .vis_slider .slide h4 { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; padding: 0 18px; margin-top: 20px; color: #111; text-align: center; }

.section-2 .section-h2 { position: relative; }

.section-2 .section-h2 a { right: -54px; top: 52%; transform: translateY(-50%); }

.region .inner { margin-bottom: 64px; }

.region-map { display: inline-block; width: 610px; background: url(../../resources/images/main/main_bg-1.png) no-repeat left -25px top 0/100%; }

.region-map .map { position: relative; margin: 0 auto; width: 424px; height: 460px; }

.region-con { display: inline-block; margin-top: 30px; width: 830px; }

.region-list { padding: 10px 30px; border: 1px solid #eee; border-radius: 44px; box-shadow: 0 0 80px rgba(0, 0, 0, 0.1); }

.region-item { display: flex; justify-content: space-between; padding: 20px 0; align-items: center; }

.region-item ~ .region-item { border-top: 2px dashed #eee; }

.region-item .tit { display: flex; align-items: center; justify-content: space-between; width: calc(100% - 65px); }

.region-item p { color: #fff; width: 74px; line-height: 34px; margin-right: 14px; display: inline-block; text-align: center; border-radius: 20px; }

.region-item a { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 560px; color: #000; font-weight: 500; }

.region-item a:hover { text-decoration: underline; text-underline-position: under; font-weight: 600; }

.region-item span { color: #999; }

.region .receive-after { background: #058dd4; }

.region .receive-ing { background: #e33310; }

.region .receive-finish { background: #666; }

.region .prepare { background: #839e00; }

.section-3 { background: url(../../resources/images/main/main_bg-2.png) no-repeat left top/100% 400px; }

.contentT-skin_a-02 .contentT { padding: 0; background: none; }

.contentT-skin_a-02 .contentT .inner { flex-direction: column; }

.contentT-skin_a-02 .contentT-left { margin-top: 0; width: calc(100% - 51.4rem); }

.contentT-skin_a-02 .contentT-left a { right: 0; top: 0; }

.contentT-skin_a-02 .contentT-tab .nav-item::before { width: 3px !important; height: 2rem !important; background: #eee !important; }

.contentT-skin_a-02 .contentT-tab .nav-link { font-size: 26px; line-height: 1; color: #666; }

.contentT-skin_a-02 .contentT-tab .nav-link.active { color: #000; }

.contentT-skin_a-02 .contentT-right { margin-top: 0; margin-left: 0; width: fit-content; }

.contentT-skin_a-02 .contentT-tab-content { margin-top: 3rem; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link { padding: 3rem; height: auto; border-radius: 44px; overflow: unset; border: 1px solid #eee; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .tit { display: block; margin-bottom: 24px; font-size: 18px; color: #000; font-weight: 500; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-title { font-size: 18px; line-height: 28px; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-title .new { display: inline-block; margin-left: 3px; width: 22px; height: 22px; background: url(../../resources/images/main/icon_new.png) no-repeat center; vertical-align: -5px; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-desc { margin-bottom: 70px; line-height: 24px; font-size: 16px; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info { justify-content: space-between; width: 81% !important; bottom: 3rem; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info p::before { margin-right: 5px !important; vertical-align: bottom !important; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info .slide-date::before { width: 15px !important; height: 15px !important; background: url(../../resources/images/main/icon_data.png) no-repeat center !important; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info .slide-count::before { width: 19px !important; height: 12px !important; background: url(../../resources/images/main/icon_view.png) no-repeat center !important; }

.contentT-skin_a-02 .contentT .swiper-control { right: 50px; }

.contentT-skin_a-02 .contentT .swiper-control button { overflow: hidden; text-indent: -9999px; }

.contentT-skin_a-02 .contentT .swiper-control button::after { width: 40px; height: 40px; }

.contentT-skin_a-02 .contentT .swiper-control .swiper-next { margin-left: 10px; }

.contentT-skin_a-02 .contentT .swiper-control .swiper-prev::after { background: url("../../resources/images/main/slide_prev.png") center center/100% no-repeat; }

.contentT-skin_a-02 .contentT .swiper-control .swiper-next::after { background: url("../../resources/images/main/slide_next.png") center center/100% no-repeat; }

.contentT-skin_a-02 .contentT .swiper-control .swiper-prev:hover::after { background: url("../../resources/images/main/slide_prev_on.png") center center/100% no-repeat; }

.contentT-skin_a-02 .contentT .swiper-control .swiper-next:hover::after { background: url("../../resources/images/main/slide_next_on.png") center center/100% no-repeat; }

.contentT-skin_a-03 { margin-bottom: 125px; }

.contentT-skin_a-03 .contentT { padding: 0; }

.contentT-skin_a-03 .contentT .inner { flex-direction: column; }

.contentT-skin_a-03 .contentT-card { margin-top: 0; }

.contentT-skin_a-03 .contentT-card .card-title { font-size: 18px; font-weight: 600; }

.contentT-skin_a-03 .contentT-card .card-list { justify-content: space-between; width: 100%; }

.contentT-skin_a-03 .contentT-card .card-item { width: calc(25% - 24px); box-shadow: 0 0 40px rgba(0, 0, 0, 0.08); border-radius: 60px; }

.contentT-skin_a-03 .contentT-card .card-link { border: none; }

.contentT-skin_a-03 .contentT-card .card-figure { height: auto; }

.contentT-skin_a-03 .contentT-card .card-figure::before { border-radius: 44px 44px 0 0; background: rgba(64, 128, 0, 0.8); }

.contentT-skin_a-03 .contentT-card .card-figure::after { background: url(../images/main/ico_more.png) no-repeat #fff center; }

.contentT-skin_a-03 .contentT-card .card-image { height: auto; object-fit: unset; }

@media all and (max-width: 1440px) { .tab-wrap.right { width: 100%; }
  .tab-wrap.right .tab-content { padding: 25px 2.7% 35px; }
  .tab-wrap.right .tab-content .field-list.field-tile.w144 { display: none; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item { height: auto; width: 30%; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item a { height: 45px; line-height: 45px; }
  .tab-wrap.right .tab-content .w1440 { display: block; padding-bottom: 20px; }
  .tab-content .swiper-pagination-bullet { background: #666; opacity: 1; }
  .tab-content .swiper-pagination-bullet.swiper-pagination-bullet-active { width: 25px; height: 7.5px; background: #839e00; border-radius: 10px; }
  #visual .main_visual .inner { padding: 0 17px; }
  .region { background: none; }
  .region .inner { padding: 0 17px; }
  .region-con { margin-left: 0 !important; }
  .region-map ul { margin: 0 auto; }
  .contentT-skin_a-02 .contentT .inner { padding: 0 17px; }
  .contentT-skin_a-03 .contentT .inner { padding: 0 17px; } }

@media all and (max-width: 1300px) { .tab .inner { flex-direction: column; padding: 0 17px; }
  .tab-wrap { width: 100%; }
  .tab-wrap .tab-content .type { width: 100%; }
  .tab-wrap.right { margin-left: 0; margin-top: 25px; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item { width: calc(50% - 10px); height: auto; }
  .tab-wrap.right .tab-content .field-list .field-item { width: calc( 16.66% - 22px); height: auto; }
  .region-map { margin: 0 auto; }
  .region-con { width: 100%; } }

@media all and (max-width: 1200px) { .region .inner { flex-direction: column; } }

@media all and (max-width: 1024px) { .section-1 { background: url(../../resources/images/main/m_main_bg.png) no-repeat left top/100% 100%; }
  .tab-wrap { width: 100%; }
  .tab-wrap.right .tab-content { height: auto; padding-bottom: 20px; }
  .tab-wrap.right .tab-content .field-list { padding-bottom: 30px; justify-content: unset; flex-wrap: unset; overflow: unset; }
  .tab-wrap.right .tab-content .field-list .field-item { margin: 0; }
  .tab-wrap.right .tab-content .field-list .field-item span { width: calc( 100% - 25px) !important; text-align: center; }
  .region .inner { flex-direction: column; }
  .section-3 { background: url(../../resources/images/main/m_main_bg-2.png) no-repeat left top/100%; }
  .contentT-skin_a-02 .contentT-wrapper { flex-direction: column; }
  .contentT-skin_a-02 .contentT-left { width: 100%; }
  .contentT-skin_a-02 .contentT-right { margin-top: 20px; width: 100%; }
  .contentT-skin_a-02 .contentT .swiper-slide a:nth-child(2) { margin-top: 20px; }
  .contentT-skin_a-03 .contentT-card .card-list { flex-wrap: wrap; }
  .contentT-skin_a-03 .contentT-card .card-item { margin-top: 25px; width: calc(50% - 10px); }
  .contentT-skin_a-03 .contentT-card .card-item:nth-child(1), .contentT-skin_a-03 .contentT-card .card-item:nth-child(2) { margin-top: 0; } }

@media all and (max-width: 750px) { .tab-wrap { border-radius: 33px; }
  .tab-wrap nav .nav-tabs { flex-wrap: wrap; border-bottom: none; border-radius: 32px 32px 0 0; }
  .tab-wrap nav .nav-tabTitle button { font-size: 14px; }
  .tab-wrap nav .nav-link { height: 40px; border-radius: 30px 30px 0 0; }
  .tab-wrap nav .nav-link.active { height: 40px; border-radius: 30px 30px 0 0; }
  .tab-wrap .tab-content { padding: 20px 20px; }
  .tab-wrap .tab-content .type-wrap > button { padding: 0 15px; height: 40px; line-height: 40px; font-size: 14px; border-radius: 10px; color: #000; }
  .tab-wrap .tab-content .type-wrap .type-list li { padding: 0 10px; line-height: 35px; }
  .tab-wrap .tab-content .type-wrap .type-list li button { line-height: 35px; font-size: 14px; color: #000; }
  .tab-wrap .tab-content .type-wrap .input-wrap input { padding: 0 15px; height: 40px; line-height: 40px; font-size: 14px; border-radius: 15px; }
  .tab-wrap .tab-content .active .search-btn button { width: 80px; height: 190px; border-radius: 22px; background-size: cover; overflow: hidden; background-position: right 0 bottom 0; }
  .tab-wrap .tab-content .active .search-btn button img { margin-right: 0; width: 14px; height: 14px; vertical-align: bottom; }
  .tab-wrap.right { margin-top: 15px; }
  .tab-wrap.right nav .nav-tabTitle button { width: 50%; }
  .tab-wrap.right nav .nav-link.active { position: relative; background: transparent; }
  .tab-wrap.right nav .nav-link.active:after { content: attr(data-after); position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 105px; height: 42.5px; line-height: 42.5px; background: #fff; border-radius: 50px; border: 1px solid #eee; }
  .tab-wrap.right .tab-content { padding: 19px 20px; height: auto; }
  .tab-wrap.right .tab-content .field-list { padding-bottom: 35px; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item { width: calc(50% - 10px); margin-left: 5px; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item a { height: 45px; line-height: 45px; padding: 0; width: 100%; letter-spacing: -1px; align-items: center; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item a:hover { background: #fff8ea; color: #000; }
  .tab-wrap.right .tab-content .field-list.field-tile .field-item a:hover::after { display: none; }
  .tab-wrap.right .tab-content .field-item a { margin: 0 auto; width: 80px; font-size: 13px; }
  .tab-wrap.right .tab-content .field-item a img { width: 100%; height: 100%; object-fit: cover; }
  #visual .main_visual .inner .vis-top { margin-top: 35px; margin-bottom: 25px; }
  #visual .main_visual .inner .vis-top h3 { font-size: 18px; }
  #visual .main_visual .inner .vis-top .vis-notice { font-size: 14px; }
  #visual .main_visual .inner .vis-top .vis-notice span { padding: 0 6.5px; margin-left: 5px; font-size: 13px; }
  #visual .main_visual .inner .vis-top .vis-notice .notice-before { margin-right: 15px; }
  #visual .main_visual .inner .vis_slider .swiper-slide { width: 200px; }
  #visual .main_visual .inner .vis_slider .slide h4 { padding: 0 5px; }
  #visual .main_visual .inner .vis_slider .swiper-progress { bottom: 70px; width: 186px; }
  #visual .main_visual .inner .vis_slider .swiper-controls { bottom: 57px; margin-left: 206px; width: 135px; }
  #visual .main_visual .inner .vis_slider .swiper-controls button { width: 35px; height: 35px; background-size: 100% !important; }
  #visual .main_visual .inner .vis_slider .swiper-pagination { font-size: 13px; line-height: 30px; }
  .section-h2.sub-h2 { font-size: 23px; }
  .section-2 .section-h2 a { right: -40px; }
  .section-2 .section-p { margin-bottom: 10px; }
  .region .inner { margin-bottom: 50px; }
  .region-map { width: 100%; background-image: url(../../resources/images/main/m_main_bg-1.png); background-size: 380px; background-position: left 43% top 68%; }
  .region-map .map { width: 297px; height: 322.5px; }
  .region-map .map img { width: 297px; height: 322.5px; }
  .region-list { padding: 6px 20px; }
  .region-item { padding: 12px 0; }
  .region-item p { width: 55px; line-height: 25px; font-size: 13px; }
  .region-item .tit { flex-direction: column; align-items: baseline; }
  .region-item a { width: 100%; font-size: 13px; }
  .region-item span { margin-top: 5px; font-size: 13px; }
  .contentT-skin_a-02 .contentT-wrapper { flex-direction: column; }
  .contentT-skin_a-02 .contentT-tab-content { margin-top: 20px; }
  .contentT-skin_a-02 .contentT-tab .nav-link { font-size: 18px; }
  .contentT-skin_a-02 .contentT-tab .nav-item + .nav-item { margin-left: 1rem; padding-left: 1rem; }
  .contentT-skin_a-02 .contentT .swiper-control { right: 35px; top: -7px; }
  .contentT-skin_a-02 .contentT .swiper-control button::after { width: 30px; height: 30px; }
  .contentT-skin_a-02 .contentT .swiper-prev, .contentT-skin_a-02 .contentT .swiper-next { width: 3rem; height: 3rem; }
  .contentT-skin_a-02 .contentT .swiper-control .swiper-next { margin-left: 5px; }
  .contentT-skin_a-02 .contentT-left .add { top: -7px; }
  .contentT-skin_a-02 .contentT .swiper-slide a:nth-child(2) { margin-top: 20px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link { padding: 25px; border-radius: 30px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .tit { margin-bottom: 17.5px; font-size: 14px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-title { min-height: unset; font-size: 14px; line-height: 19px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-title .new { width: 16px; height: 16px; background-size: 100%; vertical-align: -2px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-desc { margin-bottom: 28px; font-size: 13px; line-height: 17px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info { width: calc( 100% - 60px) !important; font-size: 13px; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info .slide-date::before { margin-right: 2px !important; width: 12px !important; height: 12px !important; background-size: 100% !important; }
  .contentT-skin_a-02 .contentT .swiper-slide .slide-link .slide-info .slide-count::before { margin-right: 2px !important; width: 14px !important; height: 9px !important; background-size: 100% !important; }
  .contentT-skin_a-02 .contentT-banner { width: 100%; height: 200px; }
  .contentT-skin_a-03 { margin-bottom: 50px; }
  .contentT-skin_a-03 .contentT-card .card-item { margin-top: 20px; border-radius: 30px; }
  .contentT-skin_a-03 .contentT-card .card-title { height: 40px; font-size: 14px; }
  .contentT-skin_a-03 .contentT-card .card-figure::before { border-radius: 22px 22px 0 0; }
  .contentT-skin_a-03 .contentT .card-figure::after { width: 45px; height: 45px; background-size: 17px 17px; } }
