.bottomT { background-color: #eee; }

.bottomT-wrapper { display: flex; justify-content: space-between; }

.bottomT-left { display: flex; }

.bottomT-title { width: 25rem; height: 5rem; }

.bottomT-title img { width: 100%; height: 100%; object-fit: cover; }

.bottomT-text { margin-left: 3.8rem; }

.bottomT-link { display: flex; }

.bottomT-link li + li { margin-left: 3.2rem; }

.bottomT-link li a { font-size: 1.4rem; color: #000; }

.bottomT-address { margin-top: 1.4rem; }

.bottomT-address p { display: flex; flex-wrap: wrap; font-size: 1.4rem; margin-top: 0.4rem; }

.bottomT-address p span { line-height: 2rem; display: block; margin-right: 1.6rem; }

.bottomT-copyright { margin-top: 1.5rem; font-size: 1.2rem; color: #999; text-transform: uppercase; }

.bottomT-right { display: flex; }

.bottomT-share { display: flex; }

.bottomT-share li { width: 4rem; height: 4rem; background-color: #ccc; border-radius: 50%; }

.bottomT-share li + li { margin-left: .8rem; }

.bottomT-share li a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }

.bottomT-share li a img { width: 2.4rem; height: 2.4rem; }

.bottomT-skin_a-01 .bottomT { padding: 2rem 0 3rem; }

.contentT { padding: 8rem 0; }

.contentT-title { font-size: 3.6rem; font-weight: 700; color: #000; text-align: center; }

.contentT-skin_a-01 .contentT-tab { margin-top: 3rem; justify-content: center; }

.contentT-skin_a-01 .contentT-tab .nav-item + .nav-item { margin-left: 10rem; }

.contentT-skin_a-01 .contentT-tab .nav-link { padding: 0; font-size: 2rem; color: #000; }

.contentT-skin_a-01 .contentT-tab .nav-link.active { font-weight: 700; }

.contentT-skin_a-01 .contentT-tab-content { margin-top: 4rem; }

.contentT-skin_a-01 .contentT-tab-content .tab-pane { position: relative; }

.contentT-skin_a-01 .contentT-slider { max-width: 1194px; }

.contentT-skin_a-01 .contentT .swiper-slide .slide-figure { display: flex; justify-content: center; align-items: center; width: 15rem; height: 15rem; background-color: #f8f8f8; border-radius: 50%; }

.contentT-skin_a-01 .contentT .swiper-slide .slide-image { width: 6.8rem; height: 6.8rem; }

.contentT-skin_a-01 .contentT .swiper-slide .slide-title { margin-top: 1.6rem; text-align: center; }

.contentT-skin_a-01 .contentT .swiper-button-prev, .contentT-skin_a-01 .contentT .swiper-button-next { transform: translateY(-50%); display: flex; justify-content: center; align-items: center; width: 6rem; height: 6rem; margin: 0; padding: 0; background-color: #f8f8f8; border-radius: 50%; }

.contentT-skin_a-01 .contentT .swiper-button-prev::after, .contentT-skin_a-01 .contentT .swiper-button-next::after { content: ""; display: block; width: 2rem; height: 2rem; background-repeat: no-repeat; background-position: center; background-size: cover; }

.contentT-skin_a-01 .contentT .swiper-button-prev { left: 0; }

.contentT-skin_a-01 .contentT .swiper-button-prev::after { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-01 .contentT .swiper-button-next { right: 0; }

.contentT-skin_a-01 .contentT .swiper-button-next::after { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-02 .contentT { background-color: #f8f8f8; }

.contentT-skin_a-02 .contentT-wrapper { display: flex; justify-content: space-between; }

.contentT-skin_a-02 .contentT-left { position: relative; margin-top: 5rem; width: calc(100% - (44.4rem + 4.8rem)); }

.contentT-skin_a-02 .contentT-tab .nav-item { position: relative; }

.contentT-skin_a-02 .contentT-tab .nav-item + .nav-item { margin-left: 2.4rem; padding-left: 2.4rem; }

.contentT-skin_a-02 .contentT-tab .nav-item + .nav-item::before { content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 2.4rem; background-color: #ddd; }

.contentT-skin_a-02 .contentT-tab .nav-link { padding: 0; font-size: 2rem; color: #000; }

.contentT-skin_a-02 .contentT-tab .nav-link.active { font-weight: 700; }

.contentT-skin_a-02 .contentT-tab-content { margin-top: 2.4rem; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-link { position: relative; padding: 4rem 3rem; display: block; width: 100%; height: 30rem; background-color: #fff; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-title { font-size: 2rem; line-height: 3rem; min-height: 6rem; font-weight: 500; color: #000; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-title span { color: #000; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-desc { margin-top: 1rem; font-size: 1.8rem; line-height: 2.8rem; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-info { display: flex; position: absolute; bottom: 4rem; left: 3rem; width: 100%; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-info p { display: inline-block; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-info p::before { content: ""; display: inline-block; margin-right: 0.8rem; width: 2.4rem; height: 2.4rem; vertical-align: middle; background-repeat: no-repeat; background-position: center; background-size: cover; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-info p span { display: inline-block; vertical-align: middle; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-info p + p { margin-left: 2.4rem; }

.contentT-skin_a-02 .contentT .swiper-slide .slide-date::before { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-02 .contentT .swiper-slide .slide-count::before { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-02 .contentT .swiper-control { position: absolute; top: 0; right: 0; display: flex; }

.contentT-skin_a-02 .contentT .swiper-prev, .contentT-skin_a-02 .contentT .swiper-next { display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; margin: 0; padding: 0; }

.contentT-skin_a-02 .contentT .swiper-prev::after, .contentT-skin_a-02 .contentT .swiper-next::after { content: ""; display: block; width: 2rem; height: 2rem; background-repeat: no-repeat; background-position: center; background-size: cover; }

.contentT-skin_a-02 .contentT .swiper-prev::after { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-02 .contentT .swiper-next { margin-left: 1.5rem; }

.contentT-skin_a-02 .contentT .swiper-next::after { background-image: url("../images/common/sample_ico.svg"); }

.contentT-skin_a-02 .contentT-right { margin-top: 3rem; width: 44.4rem; margin-left: 4.8rem; }

.contentT-skin_a-02 .contentT-banner { width: 100%; height: 36.4rem; }

.contentT-skin_a-02 .contentT-banner img { width: 100%; height: 100%; object-fit: cover; }

.contentT-skin_a-03 .contentT-card { margin-top: 3rem; }

.contentT-skin_a-03 .contentT .card-link { display: block; border: 1px solid #eee; }

.contentT-skin_a-03 .contentT .card-link:hover .card-figure::before, .contentT-skin_a-03 .contentT .card-link:hover .card-figure::after { opacity: 1; }

.contentT-skin_a-03 .contentT .card-figure { position: relative; width: 100%; height: 29rem; }

.contentT-skin_a-03 .contentT .card-figure::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: .3s; z-index: 1; }

.contentT-skin_a-03 .contentT .card-figure::after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 7rem; height: 7rem; background: url("../images/common/sample_ico.svg") no-repeat center/cover; border-radius: 50%; opacity: 0; transition: .3s; z-index: 2; }

.contentT-skin_a-03 .contentT .card-image { width: 100%; height: 100%; object-fit: cover; }

.contentT-skin_a-03 .contentT .card-title { display: flex; justify-content: center; align-items: center; height: 7rem; font-size: 2rem; font-weight: 400; color: #000; }

.gnbT { position: relative; border-bottom: 1px solid #ddd; background-color: #fff; }

.gnbT.fixed { position: fixed; top: 0; left: 0; width: 100%; z-index: 99; }

.gnbT-list { display: flex; justify-content: center; }

.gnbT-item { padding: 0 6rem; }

.gnbT-item.active .gnbT-sub { display: block; }

.gnbT-link { position: relative; display: flex; justify-content: center; align-items: center; height: 7rem; font-size: 2rem; }

.gnbT-link::after { content: none; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #000; }

.gnbT-link:hover, .gnbT-link.on { font-weight: 500; color: #000; }

.gnbT-link:hover::after, .gnbT-link.on::after { content: ""; }

.gnbT-sub { display: none; position: absolute; left: 0; width: 100%; padding: 3rem 0; background-color: #fff; }

.gnbT-sub-inner { display: flex; }

.gnbT-sub-left { width: 24rem; border-right: 1px solid #eee; }

.gnbT-sub-title { font-size: 2.4rem; color: #000; }

.gnbT-sub-desc { margin-top: 0.8rem; }

.gnbT-sub-right { width: calc(100% - 24rem); }

.gnbT-depth2-list { display: flex; flex-wrap: wrap; }

.gnbT-depth2-item { width: 20rem; margin-left: 6rem; margin-top: 3rem; }

.gnbT-depth2-item:nth-child(1), .gnbT-depth2-item:nth-child(2), .gnbT-depth2-item:nth-child(3), .gnbT-depth2-item:nth-child(4) { margin-top: 0; }

.gnbT-depth2-link { font-size: 1.8rem; font-weight: 700; color: #000; }

.gnbT-depth3-list { margin-top: 1rem; }

.gnbT-depth3-item { margin-top: 0.7rem; }

.gnbT-depth3-link:hover, .gnbT-depth3-link.on { font-weight: 500; color: #000; text-decoration: underline; }

.paginationT { margin-top: 3rem; }

.paginationT-list { display: flex; justify-content: center; align-items: center; }

.paginationT-item { margin: 0 0.5rem; }

.paginationT-item.on a { background-color: #7fdf34; color: #fff; }

.paginationT-item.option a { border: 1px solid #ddd; color: #fff; }

.paginationT-item.option a::after { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 1.5rem; height: 1.5rem; background-repeat: no-repeat; background-position: center; background-size: cover; }

.paginationT-item.first a::after { background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.paginationT-item.prev a::after { background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.paginationT-item.next a::after { background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.paginationT-item.last a::after { background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.paginationT-link { position: relative; display: flex; justify-content: center; align-items: center; width: 4.5rem; height: 4.5rem; border-radius: 50%; }

.relatedT { padding: 2rem 0; background-color: #eee; }

.relatedT-group { position: relative; }

.relatedT-title { position: relative; width: 100%; height: 5rem; padding: 1.2rem 1.8rem; text-align: left; font-size: 1.8rem; color: #666; background-color: #fff; }

.relatedT-title::after { content: ''; position: absolute; top: 50%; right: 1.8rem; transform: translateY(-50%); width: 1rem; height: 1rem; background: url("../images/common/sample_ico.svg") no-repeat center/cover; transition: .3s; }

.relatedT-title.active::after { transform: translateY(-50%) rotate(90deg); }

.relatedT-list { display: none; position: absolute; left: 0; width: 100%; height: 20rem; overflow-y: auto; }

.relatedT-item { background-color: #ccc; }

.relatedT-item:nth-child(even) { background-color: #eee; }

.relatedT-link { display: flex; align-items: center; width: 100%; height: 5rem; padding: 0 1.8rem; font-size: 1.8rem; }

.searchbarT-select .form-select { width: 100%; height: 5rem; padding: 0 1.8rem; border: 1px solid #ddd; background-color: #fff; background-position: right 1.8rem center; border-radius: 0; font-size: 1.6rem; color: #666; }

.searchbarT-search .form-control { height: 5rem; padding: 0 1.8rem; border: 1px solid #ddd; border-radius: 0; font-size: 1.6rem; }

.searchbarT-01 .searchbarT { background-color: #f8f8f8; margin-bottom: 3rem; }

.searchbarT-01 .searchbarT-wrapper { width: 100%; height: 12rem; display: flex; justify-content: center; align-items: center; }

.searchbarT-01 .searchbarT-select { width: 18rem; }

.searchbarT-01 .searchbarT-search { display: flex; width: 65.6rem; margin-left: 0.8rem; }

.searchbarT-01 .searchbarT-search .form-control { width: 40rem; }

.searchbarT-01 .searchbarT-search .btn { margin-left: 0.8rem; width: 11rem; font-size: 1.8rem; }

.searchbarT-01 .searchbarT-search .btn-search { color: #fff; background-color: #7fdf34; border: 1px solid #7fdf34; }

.searchbarT-01 .searchbarT-search .btn-reset { color: #666; background-color: #fff; border: 1px solid #ddd; }

.searchbarT-02 .searchbarT { margin-bottom: 2rem; }

.searchbarT-02 .searchbarT-wrapper { width: 100%; display: flex; justify-content: flex-end; }

.searchbarT-02 .searchbarT-select { width: 18rem; margin-left: .8rem; }

.searchbarT-02 .searchbarT-search { display: flex; width: 30rem; margin-left: 0.8rem; }

.searchbarT-02 .searchbarT-search .form-control { width: 100%; }

.searchbarT-02 .searchbarT-search .btn { position: absolute; top: 0; right: 0; width: 5rem; height: 100%; padding: 0; }

.searchbarT-02 .searchbarT-search .btn::after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 2.4rem; height: 2.4rem; background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.subvisualT { display: flex; align-items: center; text-align: center; background-repeat: no-repeat; background-position: center; background-size: cover; }

.subvisualT-01 .subvisualT { height: 16rem; }

.subvisualT-01 .subvisualT.image-01 { background-image: url("../images/common/sample_img.svg"); }

.subvisualT-01 .subvisualT-title { font-size: 3.2rem; font-weight: 700; color: #000; }

.subvisualT-02 .subvisualT { height: 35rem; }

.subvisualT-02 .subvisualT.image-01 { background-image: url("../images/common/sample_img.svg"); }

.subvisualT-02 .subvisualT-title { font-size: 4.8rem; font-weight: 700; color: #000; }

.subvisualT-02 .subvisualT-desc { margin-top: 1rem; font-size: 1.8rem; line-height: 2.8rem; }

.tableT { margin-top: 3rem; }

.tableT .table { text-align: center; table-layout: fixed; }

.tableT .table tr > * { padding: 0; height: 6rem; line-height: 6rem; border-bottom-color: #ddd; }

.tableT .table thead { background-color: #f8f8f8; font-size: 1.8rem; color: #000; }

.tableT .table thead tr:first-child > * { border-top: 1px solid #000; }

.tableT .table thead tr > * { border-bottom-color: #ddd; }

.tableT .table thead tr:last-child > * { border-bottom-color: #ddd; }

.tableT .table .btn { width: 10rem; height: 4rem; line-height: 4rem; padding: 0; font-size: 1.6rem; color: #fff; background-color: #7fdf34; border: 1px solid #7fdf34; }

.tableT .table .badge { padding: .8rem 1.3rem; margin-right: 1.6rem; border-radius: 2rem; background-color: #ddd; color: #666; font-weight: 400; }

.tabmenuT-list { display: flex; border: 1px solid #ddd; }

.tabmenuT-item { position: relative; width: calc(100% / 6); height: 6rem; }

.tabmenuT-item + .tabmenuT-item::before { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 2rem; background-color: #ddd; z-index: 1; }

.tabmenuT-link { position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; font-size: 1.8rem; text-align: center; transition: .3s; z-index: 2; }

.tabmenuT-link.on { background-color: #000; color: #fff; }

.tabSlide-conBox { padding: 8rem; }

.tabSlide-conBox .nav-link { padding: 0.8rem 1.4rem; }

.tabSlide-conBox .card-body { padding: 2rem; }

.tabSlide-conBox .card-title { margin-bottom: 1rem; font-size: 2.2rem; }

.tabSlide-conBox .card-text { margin-bottom: 1.5rem; font-size: 1.6rem; color: #999; }

.btn { border-radius: 0.5rem; font-size: 1.4rem; }

@media screen and (max-width: 750px) { .nav { overflow-x: scroll; flex-wrap: nowrap; }
  .nav::-webkit-scrollbar { display: none; } }

.topT { border-bottom: 1px solid #ddd; }

.topT-wrapper { display: flex; justify-content: space-between; align-items: center; }

.topT-title { width: 25rem; height: 5rem; }

.topT-title img { width: 100%; height: 100%; object-fit: cover; }

.topT-search { position: relative; width: 45rem; }

.topT-search .form-control { width: 100%; height: 5rem; padding: 0 1.8rem; border: 1px solid #ddd; border-radius: 0; font-size: 1.6rem; }

.topT-search .btn { position: absolute; top: 1.3rem; right: 1.8rem; width: 2.4rem; height: 2.4rem; padding: 0; background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.topT-utils { display: flex; align-items: center; }

.topT-utils li { position: relative; }

.topT-utils li + li { margin-left: 1.6rem; padding-left: 1.6rem; }

.topT-utils li + li::before { content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 1.2rem; background-color: #ddd; }

.topT-utils li:last-child { margin-left: 3.2rem; padding-left: 0; }

.topT-utils li:last-child::before { content: none; }

.topT-allmenu { width: 5rem; height: 5rem; background: url("../images/common/sample_ico.svg") no-repeat center/cover; }

.topT-skin_a-01 .topT { padding: 3rem 0; }

.navbar__typeA--1 { display: flex; justify-content: space-between; align-items: center; }

.navbar__typeA--1 .nav-link { display: inline-block; color: #222; font-size: 1.6rem; }

.navbar__brand { display: inline-block; width: 100px; }

.navbar__brand img { width: 100%; }

.visualT { background-color: #f8f8f8; padding: 8rem 0; }

.visualT .swiper-slide .slide-figure { height: 38rem; }

.visualT .swiper-slide .slide-image { width: 100%; height: 100%; object-fit: cover; }

.visualT .swiper-slide .slide-text { margin-top: 2rem; text-align: center; }

.visualT .swiper-slide .slide-title { font-size: 2rem; font-weight: 500; color: #000; }

.visualT .swiper-slide .slide-desc { line-height: 2.2; }

.visualT .swiper-control { display: flex; align-items: center; margin-top: 7rem; width: 65%; }

.visualT .swiper-progress { position: relative; width: 65%; height: .4rem; background-color: #ddd; margin-right: 5rem; }

.visualT .swiper-progress span { position: absolute; top: 0; left: 0; width: 0; height: 100%; background-color: #000; }

.visualT .swiper-progress.full span { width: 100%; transition-property: width; transition-timing-function: linear; }

.visualT .swiper-pagination { position: relative; bottom: auto; left: auto; width: auto; margin: 0 2.5rem; color: #000; }

.visualT .swiper-prev, .visualT .swiper-next { position: relative; display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; padding: 0; }

.visualT .swiper-prev::after, .visualT .swiper-next::after { content: ''; display: block; width: 50%; height: 50%; background-repeat: no-repeat; background-position: center; background-size: cover; }

.visualT .swiper-prev::after { background-image: url("../images/common/sample_ico.svg"); }

.visualT .swiper-next::after { background-image: url("../images/common/sample_ico.svg"); }

.visualT .swiper-remocon { position: relative; display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; padding: 0; margin-left: 2rem; }

.visualT .swiper-remocon::after { content: ''; display: block; width: 50%; height: 50%; background-image: url("../images/common/sample_ico.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; }

.visualT .swiper-remocon.play::after { background-image: url("../images/common/sample_ico.svg"); }
